.container {
    display: flex;
    flex-direction: column;

    .header {
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #282c34;
        color: white;

        p {
            margin-bottom: 0 !important;
        }

        .btn-fetch {
            cursor: pointer;
        }
    }

    .content {
        padding: 14px;
        flex-grow: 1;
        overflow-y: auto;

        .card-server {
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .ant-card-head-title {
            padding: 0;
        }

        .server-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            >span {
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .server-title-actions {
            flex-shrink: 0;
            >span {
                margin-right: 8px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .row-rule-item {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}