@use 'sass:meta';

body:not(.dark) {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);

}

body.dark {
    background-color: #000;
    color: rgba(255, 255, 255, 0.85);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.container {
    height: 100%;
    padding: 16px;
}

.title {
    font-size: 32px;
}