.server-address {
    font-size: 12px;
    color: rgb(182, 186, 186);
}

.server-name {
    display: inline-block;
    width: 140px;
    margin-right: 10px;
    word-break: break-all;
}

.option-item {
    .option-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.custom-size {
    display: flex;
    align-items: center;
    .form-item--inline {
        margin-left: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        .ant-form-item {
            margin-bottom: 0;
        }
    }
}
