.doraemon-toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 25%;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}

.doraemon-toast--show {
    visibility: visible;
    opacity: 1;
    top: 20%;
}

.doraemon-hack-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

#doraemon-login-btn {
    transform: translate(calc(-50% + 605px), calc(-50% + 165px));
    background-color: #1e78ff;
}

#doraemon-login-btn:active {
    transform: translate(calc(-50% + 607px), calc(-50% + 167px));
}

#doraemon-typing-btn {
    transform: translate(calc(-50% + 605px), calc(-50% + 110px));
    background-color: #3bea61;
}

#doraemon-typing-btn:active {
    transform: translate(calc(-50% + 607px), calc(-50% + 112px));
}

.doraemon-hack-btn .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doraemon-hack-btn .sign svg {
    width: 17px;
}

.doraemon-hack-btn .sign svg path {
    fill: white;
}

.doraemon-hack-btn .doraemon-text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
    white-space: nowrap;
}

.doraemon-hack-btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.doraemon-hack-btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

.doraemon-hack-btn:hover .doraemon-text {
    opacity: 1;
    transition-duration: 0.3s;
    width: 65%;
    padding-right: 10px;
}